---
---

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "portfolYOU";

body { font-family: "Inter", sans-serif; font-size: 15px; }

.markdown-body h1 { font-size: 1.8rem; }
.markdown-body h2 { font-size: 1.4rem; }
.markdown-body h3 { font-size: 1.15rem; }